
<input type="text" placeholder="Search.." id="search" name="search" [(ngModel)]="search" (ngModelChange)="filterCountries()">

<button (click)="clearModalTextBox()" data-bs-toggle="modal" data-bs-target="#kreiraj">Add country</button>

  <div class="modal fade" id="detalji" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Uredi državu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Država: <input><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Spasi promjene</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="kreiraj" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Kreiraj državu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Naziv: <br><input [(ngModel)]="countryToAdd.name">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
          <button (click)="addCountry()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Kreiraj</button>
        </div>
      </div>
    </div>
  </div>