<div class="landing-container">
  <section class="hero">
    <div class="overlay">
      <div class="hero-content">
        <img src="assets/images/logo.png" alt="Logo" class="logo" />
        <h1 class="title">
          Web Cinema
          <span class="highlight">Only the best!</span>
        </h1>
        <h2 class="subtitle">ONLINE CINEMA · MOVIE BOOKING</h2>
        <button class="cta-button" (click)="onEnterClick()">ENTER</button>
        <button class="cta-button" (click)="onLoginClick()">LOGIN</button>
      </div>
    </div>
  </section>
</div>